{% render 'views/head.liquid', title: 'Triple programma' %}

<main>

    <div class="radiostations">
        {% for day in calendar %} 
                <article class="day"> {% comment %} programma inhoud radiostations {% endcomment %}
                    <h2>{{ radio.date }}</h2>
                    {% for show in day.shows %}
                        
                        <p>van {{ show.mh_shows_id.from }} tot {{ show.mh_shows_id.until }}</p>
                        <h3>
                            {{  show.mh_shows_id.show.name }}
                        </h3>
                        <h4>
                            {{ show.mh_shows_id.show.radiostation.name }}
                        </h4>
                    {% endfor %}
                    <a href=""><img src="https://fdnd-agency.directus.app/assets/{{radio.logo}}" alt=""></a>
                </article>
        {% endfor %}
    </div>
</main>
{% render 'views/foot.liquid', triple: triple %}